<div class="container">
  <h2>User Profiles</h2>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
        <tr>
          <th>Name</th>
          <th>Username</th>
          <!-- Add more user data fields here -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userData">
          <td>{{ user.name }}</td>
          <td>{{ user.username }}</td>
          <!-- Add more user data fields here -->
        </tr>
      </tbody>
    </table>
  </div>
</div>
